<% if flash[:notice] %>
 <p id="notice">
<%= flash[:notice] %>
 </p>
<% end %>  
  
 <!--部分テンプレート-->
  <div>
  <%= render 'users/user', user: @user %>
  </div>
  <div>
  <%= render 'books/book', book: @book %>
  </div>

  <div>
    <h1>Books</h1>
    <table>
      <thead>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </thead>
      <tbody>
        <tr>
          <td>
           <%= link_to user_path(@user.id) do %>
           <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
           <% end %>
          </td>
        <%= @books.each do |book| %>
          <td><%= book.title %></td>
          <td><%= @book.body %></td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  